$noto : '_Noto-Sans';
$sans : '_Open-Sans';

a {
    color: #757575;
}

ul.bullet {
    list-style-type: none;
    padding: 0px;
}

.section-footer {
    position: relative;

}

.back-pic-last {
    background-image:url("../images/pic-section2.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 442px;
    width: 100%;
    text-align: center;
    color: #fff;
}

.pic-edit {
    filter: blur(3px);
    // opacity: 0.9;
}

.single-colom {
    position: relative;
    margin-top: -80px;

}

.container-last {
    padding-right: 70px;
    padding-left: 70px;

}

.backround-section {
    background-color: #fff;
    box-shadow: rgba(0, 0,0, 0.2);
}

.box-last {
    text-align: center;
    padding: 35px 48px;
    font-family: $noto;
}

.row-edit {
    box-shadow: rgba(0, 0,0, 0.2);
    border-radius: 2px;
}

.text-last-section {
    font-size: 25px;
    margin: 0 auto 30px auto;

    .space-text {
        display: list-item;
    }
}

.footer-last {
    border-top: black;
    padding: 60px 77px 20px 70px;
    font-family: $noto;
  
}
.pad-text {
    padding-top: 30px;
}

div.polaroid {
    // width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 3px;
  }

.last-border {
    border-top: solid 1px #af8d5a;
    padding-top: 50px;
    margin-left: 90px;
    margin-right: 90px;

}
.fa {
  padding: 12px;
  font-size: 28px;
  width: 53px;
  text-align: center;
  text-decoration: none;
  margin: 8px 25px;
  border-radius: 31px;
}

.fa-facebook {
    background: #3B5998;
  color: white;
}

.fa-instagram {
    background: #125688;
  color: white;
}

.fa-youtube {
    background: #bb0000;
  color: white;
}

.fa:hover {
    opacity: 0.7;
    color: #fff !important;
}

.a:hover {
    color: #fff !important;
    text-decoration: none;
}

.a:focus {
    color: #fff !important;
    text-decoration: none;
}