<section class="section-footer";>
		<div class="container back-pic-last pic-edit ">
		</div>

        <div class="single-colom ">
            <div class="container-last">
                <div class="backround-section">
                    <div class="row" style="margin-right: 0px; margin-left:0px;">
                        <div class="col-sm-12 box-last polaroid">
                            <h5 class="text-last-section">Follow the MICHELIN Guide on social media for updates and   <br> behind-the-scene information.</h5>
                            <div>
                                <a href="" class="fa fa-facebook"></a>
                                <a href="" class="fa fa-instagram"></a>
                                <a href="" class="fa fa-youtube"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<div class="footer-last">
    <div class="container">
        <div>
            <div class="row">
                <div class="col-12 col-md-3">
                    <div>
                        <h4 style="font-weight:bold;">MICHELIN Guide selections</h4>
                        <div>
                            <ul class="bullet">
                                <li>
                                     <a href="#">Austria</a>
                                </li>
                            </ul>
                            <ul class="bullet">
                                <li>
                                     <a href="#">Austria</a>
                                </li>
                            </ul class="bullet">
                            <ul class="bullet">
                                <li>
                                     <a href="#">Thailand</a>
                                </li>
                            </ul>
                            <ul class="bullet">
                                <li>
                                     <a href="#">Bemdium</a>
                                </li>
                            </ul>
                            <ul class="bullet">
                                <li>
                                     <a href="#">Chicago</a>
                                </li>
                            </ul>
                            <ul class="bullet">
                                <li>
                                     <a href="#">Croatia</a>
                                </li>
                            </ul>
                            <ul class="bullet">
                                <li>
                                     <a href="#">Czech Republic</a>
                                </li>
                            </ul>
                            <ul class="bullet">
                                <li>
                                     <a href="#">Denmark</a>
                                </li>
                            </ul>
                            <ul class="bullet">
                                <li>
                                     <a href="#">Finland</a>
                                </li>
                            </ul>
                            <ul class="bullet">
                                <li>
                                     <a href="#">France</a>
                                </li>
                            </ul>
                            <ul class="bullet">
                                <li>
                                     <a href="#">Germany</a>
                                </li>
                            </ul>
                            <ul class="bullet">
                                <li>
                                     <a href="#">Finland</a>
                                </li>
                            </ul>
                            <ul class="bullet">
                                <li>
                                     <a href="#">Great Britain</a>
                                </li>
                            </ul>
                            <ul class="bullet">
                                <li>
                                     <a href="#">Greece</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3" style="margin-top: 41px;">
                    <div>
                        <div>
                            <ul class="bullet">
                                <li>
                                     <a href="#">Hongkong</a>
                                </li>
                            </ul>
                            <ul class="bullet">
                                <li>
                                     <a href="#">Hungary</a>
                                </li>
                            </ul>
                            <ul class="bullet">
                                <li>
                                     <a href="#">Iceland</a>
                                </li>
                            </ul>
                            <ul class="bullet">
                                <li>
                                     <a href="#">Ireland</a>
                                </li>
                            </ul>
                            <ul class="bullet"> 
                                <li>
                                     <a href="#">Italy</a>
                                </li>
                            </ul>
                            <ul class="bullet">
                                <li>
                                     <a href="#">Japan</a>
                                </li>
                            </ul>
                            <ul class="bullet">
                                <li>
                                     <a href="#">Luxembourg</a>
                                </li>
                            </ul>
                            <ul class="bullet">
                                <li>
                                     <a href="#">Macau</a>
                                </li>
                            </ul>
                            <ul class="bullet">
                                <li>
                                     <a href="#">Netherlands</a>
                                </li>
                            </ul>
                            <ul class="bullet">
                                <li>
                                     <a href="#">Norway</a>
                                </li>
                            </ul>
                            <ul class="bullet">
                                <li>
                                     <a href="#">Poland</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3" style="margin-top: 41px;">
                    <div>
                        <div>
                            <ul class="bullet">
                                <li>
                                     <a href="#">Portugal</a>
                                </li>
                            </ul>
                            <ul class="bullet">
                                <li>
                                     <a href="#">Rio de Janeiro</a>
                                </li>
                            </ul>
                            <ul class="bullet">
                                <li>
                                     <a href="#">San Francisco</a>
                                </li>
                            </ul>
                            <ul class="bullet">
                                <li>
                                     <a href="#">São Paulo</a>
                                </li>
                            </ul>
                            <ul class="bullet">
                                <li>
                                     <a href="#">Seoul</a>
                                </li>
                            </ul>
                            <ul class="bullet">
                                <li>
                                     <a href="#">Shanghai</a>
                                </li>
                            </ul>
                            <ul class="bullet">
                                <li>
                                     <a href="#">Singapore</a>
                                     <img class="pic-last" src="../../images/bib-michelin-man-footer.svg" alt="">
                                </li>
                            </ul>
                            <ul class="bullet">
                                <li>
                                     <a href="#">Spain</a>
                                </li>
                            </ul>
                            <ul class="bullet">
                                <li>
                                     <a href="#">Sweden</a>
                                </li>
                            </ul>
                            <ul class="bullet">
                                <li>
                                     <a href="#">Swirzerland</a>
                                </li>
                            </ul>
                            <ul class="bullet">
                                <li>
                                     <a href="#">Taipe</a>
                                </li>
                            </ul>
                            <ul class="bullet"> 
                                <li>
                                     <a href="#">Washington DC</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div>
                        <h4 style="font-weight:bold;">Guide Michelin</h4>
                        <div>
                            <ul class="bullet">
                                <li>
                                     <a href="#">About the Guide</a>
                                </li>
                            </ul>
                            <ul class="bullet">
                                <li>
                                     <a href="#">Restaurant</a>
                                </li>
                            </ul>
                            <ul class="bullet">
                                <li>
                                     <a href="#">Advertise</a>
                                </li>
                            </ul>
                            <ul class="bullet">
                                <li>
                                     <a href="#">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                        <h4 style="font-weight:bold; margin-top:50px;">The MICHELIN Group</h4>
                        <div>
                            <ul class="bullet">
                                <li>
                                     <a href="#">The MICHELIN Company</a>
                                </li>
                            </ul>
                            <ul class="bullet">
                                <li>
                                     <a href="#">MICHELIN Tires</a>
                                </li>
                            </ul>
                            <ul class="bullet">
                                <li>
                                     <a href="#">ViaMichelin</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer text-center  ">
    <div class="last-border">
        <img class="rounded"  src="../../images/Michelin-guide-vertical.svg" alt="Responsive image">
        <div>
            <p class="text-center pad-text ">
                Copyright © 2019 MICHELIN Guide. All rights reserved. Powered by" <a href="#" >Parker Wine Advocate </a>  Digital Services.
            </p>
            <ul class="text-center">
                    <a href="#">Terms of Use</a>
                    <a href="#">Cookies</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Legal Notice</a>
            </ul>
        </div>
    </div>
</div>