
    {{!-- <div>
        <h1 class=" delete-margin text">Explore the world of the MICHELIN Guide</h1>
    </div> --}}

    {{!-- <section class="delete-margin ";>
		<div class="container container-home">
			<div class="jumbotron text jumbo">
				<div class="col-md-12 col-md-offset-0  ">
				<div class="margin" style="margin-left: 160px; margin-right: 160px;">
					<h2 class="title-banner" style="margin-top: 60px;">Explore the world of<br> the MICHELIN Guide</h2>
					<p class="content-banner">Find your next culinary experience from over 2,806 restaurants <br> from 22 Selections around the world</p>
                    <input type="text" class=" search-banner" placeholder="Search for Restaurants, Chefs …">
				</div>
				</div>
			</div>
		</div>
	</section> --}}


<section class="section-footer";>
		<div class="container text jumbo ">
			<div class="col-md-12 col-md-offset-0  ">
				<div class="margin" style="margin-left: 160px; margin-right: 160px;">
					<h2 class="title-banner" style="margin-top: 60px;">Explore the world of<br> the MICHELIN Guide</h2>
					<p class="content-banner">Find your next culinary experience from over 2,806 restaurants <br> from 22 Selections around the world</p>
                    <input type="text" class=" search-banner" placeholder="Search for Restaurants, Chefs …">
				</div>
				</div>
		</div>
</section>