---
layout: default.hbs
---
<nav class="navbar sticky-top navbar-light nav ">
    <div class="container ">
        <img class="logo" src="../../images/michelin-guide-logo-white 2.svg" alt="Michelin Guide">
    </div>

    <div>
        <a class="nav-text" href="#">
            <span></span>
            <span class="global">Global</span>
            <span class="english">English</span>
            <span>Select</span>
        </a>
    </div>
</nav>
<nav class="navbar tes">
  
</nav>